USE [master]
GO
/****** Object:  Database [LoginAndLogoutFunctionality]    Script Date: 7/20/2022 8:03:02 PM ******/
CREATE DATABASE [LoginAndLogoutFunctionality]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'LoginAndLogoutFunctionality', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\LoginAndLogoutFunctionality.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'LoginAndLogoutFunctionality_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\LoginAndLogoutFunctionality_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [LoginAndLogoutFunctionality].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [LoginAndLogoutFunctionality]
GO
USE [LoginAndLogoutFunctionality]
GO
/****** Object:  Table [dbo].[tbl_user]    Script Date: 7/20/2022 8:03:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_user](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[username] [nvarchar](100) NOT NULL,
	[password] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
USE [master]
GO
